%html{:"ng-app" => "community"}
  %head
    %title {{page_title}}
    = js :modernizr
    = css :framework, :main
  %body
    %upperbar
    .container-fluid
      %ui-view#main-view
    %footerbar
    = js :libs
    = js :application
